# Chapter 1 - Data Preparation Basics
## Segment 5 - Grouping and data aggregation

In [3]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

### Grouping data by column index

In [4]:
address = "/Users/uladzislau_kaminski/Projects/data-science-samples/Data/mtcars.csv"

cars = pd.read_csv(address)

cars.columns = ['car_name', 'mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear', 'carb']

cars.head()

,car_name,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [5]:
cars_groups = cars.groupby(cars['cyl'])

cars_groups.max()

,car_name,mpg,disp,hp,drat,wt,qsec,vs,am,gear,carb
cyl,,,,,,,,,,,
4,Volvo 142E,33.9,146.7,113,4.93,3.190,22.90,1,1,5,2
6,Valiant,21.4,258.0,175,3.92,3.460,20.22,1,1,5,6
8,Pontiac Firebird,19.2,472.0,335,4.22,5.424,18.00,0,1,5,8